# Connecting Python to a Database

This is a brief tutorial on how to connect a Python application to a database.

<h2> Getting Connection </h2>
The first thing to do is creating a connectivity between Python and your database. There are a few libraries which handles this connectivity depending on each database:
- cx_Oracle for Oracle
- sqlite3 for SQLite
- pyhdb for Hana

We'll start off by connecting to a local database and later we'll show how to make a connection to a database on a remote server.

In [37]:
import sqlite3

sqlite_file = './my_database.db' # Path to local database
conn = sqlite3.connect(sqlite_file, timeout = 10)

print (conn)

<sqlite3.Connection object at 0x000000000EB31BF8>

There you go! Now you have established a link between your Python application and your database (just as you would do on a integrated interface such as Toad, SQL Developper, and so on).

<h2> Sending SELECT queries to the database </h2>

Most of your queries will be select-based ones, meaning that you'll get a table as a result of the query. To make your life easier, Pandas has some neat methods to convert query result into dataframes:

In [15]:
import pandas as pd
sql_str = 'select * from TEST'

df_result = pd.read_sql_query(sql_str, conn)
df_result

   ID
0   1

Our database contains a single table called TEST, which has a single ID column (it is a rather simple database). 
Since we brought our database table to a pandas dataframe, we can now process this dataframe as we wish.

In [16]:
import numpy as np
df_result['name'] = np.array(['Joao Felipe'])
df_result

   ID         name
0   1  Joao Felipe

<h2> Inserting a Dataframe into your Database </h2> 

Now that you've processed your dataframe, you can now reinsert it back to your database using the **pandas.DataFrame.to_sql** method.

In [22]:
df_result.to_sql(con = conn, # Your Connectivity to the database                  
                 name = 'TEST_RESULTS'.lower(), # Name of the table to be inserted
                 #schema = schema_name, # Optional: table's schema
                 index = False, # Whether or not to use dataframe's index in the resulting table                 
                 if_exists = 'replace'# {‘fail’, ‘replace’, ‘append’}: what to do when the table already exists
)

In [26]:
sql_str = 'select * from TEST_RESULTS'

df_result = pd.read_sql_query(sql_str, conn)
df_result

   ID         name
0   1  Joao Felipe

<h4>Important Note:</h4>
Sometimes, your dataframe is too big and it takes a while for the application to insert the dataframe into the database. To optimize this process, the **pd.Dataframe.to_sql** method can take an extra argument called **dtype**, which is a dictionary where you specify the columns' types using:

<h4><b><center>{column_name_str: sql_alchemy_type}</center></b></h4>

Where the type is taken from the SQL Alchemy library (which will be explained later). So, here's a pro-tip example for you to optimize your loading process:

In [51]:
from sqlalchemy import types

df_types = {"u'ID": types.INTEGER(), 
           "u'name": types.NVARCHAR(length=50)}

df_result.to_sql(con = conn, # Your Connectivity to the database                  
                 name = 'TEST_RESULTS'.lower(), # Name of the table to be inserted
                 #schema = schema_name, # Optional: table's schema
                 index = False, # Whether or not to use dataframe's index in the resulting table                 
                 if_exists = 'replace',# {‘fail’, ‘replace’, ‘append’}: what to do when the table already exists
                 dtype = df_types
)

<h2> Executing SQL statements </h2>
To execute an SQL statement, use the **conn.execute(statement_string)** method. This is a similar function to Oracle's "EXECUTE IMMEDIATE", so you can also call procedures and functions with it. Therefore, you can make:
- Insert statements
- Delete statements
- Update statements

Here are some examples:

<h3> Updating a table in your Database </h3>
The process of updating a table quite similar to the one used on a regular database interface. However, keep in mind to always commit your changes, otherwise you would lock the table and no other user would be able to update it.

In [27]:
sql_str = "update TEST_RESULTS set name = 'Joao Felipe Guedes'"
conn.execute(sql_str) # Execute 
conn.commit()

In [28]:
sql_str = 'select * from TEST_RESULTS'

pd.read_sql_query(sql_str, conn)

   ID                name
0   1  Joao Felipe Guedes

<h3> Making INSERT statements </h3>

In [29]:
sql_str = "insert into TEST_RESULTS values (2, 'John Phillip Guedes')"
conn.execute(sql_str) # Execute 
#conn.commit()

In [30]:
sql_str = 'select * from TEST_RESULTS'

pd.read_sql_query(sql_str, conn)

   ID                 name
0   1   Joao Felipe Guedes
1   2  John Phillip Guedes

<h2> Connecting to a database on a remote server </h2>

Sometimes your database is on a remote server. For this purpose, Python has the **sqlalchemy** library with creates a link engine to communicate with your remote server using the **create_engine** method. This method uses the following prototype string:

<h3><center>database_name://username:password@serverlink</center></h3>
Here's an example of how to construct this string:

In [31]:
from sqlalchemy import create_engine
import cx_Oracle
server_link = "@insert_here_your_server_link"        
username = "joao_felipe"
psswrd = "12345"
engine_string = "oracle://" + username + ":" + psswrd + server_link
conn = create_engine(engine_string)
print (conn)

Engine(oracle://joao_felipe:***@insert_here_your_server_link)


Now you can move on to do the same operations as you did in the local database example!